<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name = "SENTRY_DSN" source = "env.sentry-dsn"/>
    <springProperty name = "LOGSTASH_DSN" source = "env.logstash-dsn"/>
    <springProperty name = "SERVICE_NAME" source="spring.service.name" />

    <appender name="LAZY_SENTRY" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>lazy-sentry</key>
            <defaultValue>lazy-sentry</defaultValue>
        </discriminator>
        <sift>
            <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
                <options>
                    <dsn>${SENTRY_DSN}</dsn>
                </options>
            </appender>
        </sift>
    </appender>

    <appender name="LAZY_CONSOLE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>lazy-console</key>
            <defaultValue>lazy-console</defaultValue>
        </discriminator>
        <sift>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%-10.10thread][%-5level][%-36.36logger{5}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="LAZY_LOGSTASH" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>lazy-logstash</key>
            <defaultValue>lazy-logstash</defaultValue>
        </discriminator>
        <sift>
            <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LOGSTASH_DSN}:4560</destination>
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <mdc/>
                        <pattern>
                            <pattern>{"service_name":"${SERVICE_NAME}"}</pattern>
                        </pattern>
                        <timestamp />
                        <threadName />
                        <message />
                        <loggerName />
                        <logLevel />
                        <stackTrace />
                        <callerData />
                    </providers>
                </encoder>
            </appender>
        </sift>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="LAZY_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="LAZY_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
